doctype html
html(lang='en')
  head
    title= header

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body(class='')
    div(class='')

    div(class='')
      block content

  script(src='/javascripts/layout.js')