:root{
  --back: rgb(255, 255, 255);
  --mid: rgb(225, 225, 225);
  --front: rgb(100, 100, 100);
  --highlight: rgb(175, 175, 175);

  --itemWidth: 400px;

  --play_window_top: calc(var(--vh) * 7.5);
  --play_window_height: calc(var(--vh) * 92.5);
}

body{
  display: block;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  background-color: var(--back);
  color: var(--front);
  top: 0;
  left: 0;
}

body>*{
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

button{
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  background-color: var(--front);
  color: var(--back);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

button:hover{
  background-color: var(--highlight);
}

button:active{
  transform: scale(95%, 95%);
}

#SEARCH{
  max-width: 500px;
}

.name:hover{
  background-color: var(--highlight);
}

.name:active{
  transform: scale(95%, 95%);
}

#MENU, #MENU2{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: calc(var(--vh) * 7.5);
}

#MENU{
  width: 100%;
  background-color: var(--back);
  z-index: 200;
}

#MENU input{
  width: 100%;
  height: 100%;
  max-height: 50px;
}

#MENU2{
  background-color: rgba(0,0,0,0);
  width: 100%;
  z-index: 190;
}

#MENU button, #MENU2 button{
  margin-left: 1px;
  margin-right: 1px;
  width: 49px;
  height: calc(var(--vh) * 7.5);
}

#MENU_MIN{
  background-color: rgba(0,0,0,0);;
}

#MENU_MIN:active{
  background-color: rgba(0,0,0,0);;
}

#MENU_MIN:hover{
  background-color: rgba(0,0,0,0);;
}

#MENU_TIMER{
  width: 75px;
  text-align: center;
  height: 100%;
  max-height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 1px;
  margin-right: 1px;
  background-color: var(--front);
  color: var(--back);
}

#MENU_NAME{
  background-color: var(--front);
  color: var(--back);
  height: 100%;
  max-height: 50px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuimg{
  width: 50%;
  height: 50%;
}

.seethrough{
  background-color: transparent;
  color: var(--front);
}

#MENU input{
  margin-left: 1px;
  margin-right: 1px;
  height: calc(var(--vh) * 7.5);
}

.item{
  width: var(--itemWidth);
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mid);
  box-sizing: border-box;
}

.control{
  width: 100%;
  max-width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controlT, .controlB{
  width: 100%;
  max-width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonDiv{
  min-width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 40px;
  padding-left: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--front);
  color: var(--back);
}

.tag{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 2px;
}

#REFERENCES{
  left: 0;
  top: 0;
  position: fixed;
  padding-top: calc(var(--vh) * 7.5);
  min-height: calc(var(--vh) * 100);
  max-height: calc(var(--vh) * 100);
  overflow-y: auto;
}

#PLAY_LIST, #EDIT_SCREEN, #TAG_LIST{
  position: absolute;
  z-index: 50;
  padding-top: calc(var(--vh) * 7.5);
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(var(--vh) * 100);
  max-height: calc(var(--vh) * 100);
  background-color: var(--back);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: auto;
}

#EDIT_SCREEN{
  z-index: 5;
}

#EDIT_HOLDER{
  width: 100%;
  max-width: 100%;
  min-height: calc(var(--vh) * 50);
  max-height: calc(var(--vh) * 50);
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holder{
  max-width: 100%;
  max-height: calc(var(--vh) * 50);
}

#EDIT_FILE{
  color: var(--highlight);
}

#EDIT_ADD{
  margin: 4px;
}

#EDIT_CONTROLS{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#EDIT_SCREEN input[type='text']{
  width: 90%;
  max-width: 500px;
  height: 25px;
  text-align: left;
}

#EDIT_ID{
  display: none;
}

#EDIT_SCREEN input[type='submit']{
  width: 50%;
  min-width: 100px;
  max-width: 300px;
  height: 25px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 0;
  background-color: var(--front);
  color: var(--back);
}

#EDIT_SCREEN input[type='submit']:hover{
  background-color: var(--highlight);
}

#EDIT_SCREEN input[type='submit']:active{
  transform: scale(95%, 95%);
}

#EDIT_SCREEN button{
  width: 50%;
  min-width: 100px;
  max-width: 300px;
  height: 25px;
  text-align: center;
}

.playlistDiv, .tagD{
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 4px;
}

.playlistDiv div, .tagP{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlistDiv button, .tagB{
  min-width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#PLAY_WINDOW{
  position: fixed;
  z-index: 30;
  top: var(--play_window_top);
  left: 0;
  width: 100%;
  min-height: var(--play_window_height);
  max-height: var(--play_window_height);
  background-color: var(--back);
  display: flex;
  align-items: center;
  justify-content: center;
}

#PLAY_WINDOW img{
  object-fit: cover;
  max-width: 100vw;
  max-height: var(--play_window_height);
}

#PLAY_WINDOW video{
  object-fit: cover;
  max-width: 100vw;
  height: 100%;
  max-height: var(--play_window_height);
}

#tagManagerDiv{
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 4px;
}

#tagManager{
  width: 100%;
  height: 60px;
  margin-left: 2px;
  margin-right: 2px;
}